ControlMaster auto
ControlPath /tmp/ssh_mux_%h_%p_%r
#ControlPersist 4h
ForwardX11 yes 
GSSAPIAuthentication no

Host nectar 
HostName 203.239.28.116
Port 2022
User sung 
Ciphers arcfour

Host biocc 
HostName mail.bio.cc 
Port 2022
User sung 
Ciphers arcfour

Host cardiodb 
HostName cardiodb.org 
User sung 
Ciphers arcfour

#131.111.90.16
Host obpc66 
HostName obpc66.medschl.cam.ac.uk
User ssg29 
Ciphers arcfour

Host jellyfish
    HostName 210.218.217.71
    Port 3030
    User ssgong
    Ciphers arcfour

#Host elephant 
#HostName elephant.bio.cam.ac.uk
#User ssg29 
#Ciphers arcfour

#Host computing 
#HostName computing.bio.cam.ac.uk
#User ssg29 
#Ciphers arcfour

#Host ram 
#HostName ram--bio.grid.private.cam.ac.uk
#User ssg29 
#Ciphers arcfour

#Host butterfly
#HostName butterfly--bio.grid.private.cam.ac.uk
#3User ssg29 
#Ciphers arcfour

#Host ostrich 
#HostName data--bio.grid.private.cam.ac.uk
#User ssg29 
#Ciphers arcfour

Host sanger
HostName ssh.sanger.ac.uk
User sg17
Compression yes
LocalForward 14301 imapproxy.sanger.ac.uk:143
LocalForward 25001 mail.sanger.ac.uk:25
LocalForward 3128 webcache.sanger.ac.uk:3128
LocalForward 22001 pcs5.sanger.ac.uk:25
LocalForward 2225 farm3-login.internal.sanger.ac.uk:22

Host me-ssh
HostName me-ssh.medschl.cam.ac.uk
User ssg29
Compression yes 
LocalForward 3310 obpc66.medschl.cam.ac.uk:3306
