<VirtualHost *:80>
   ServerName placentome.localhost
   ServerAlias *.localhost
   DocumentRoot /data/Serve/Web/Placentome
	<Directory />
        Options Indexes MultiViews FollowSymLinks
        AllowOverride None 
		Order allow,deny
		allow from all
		AuthUserFile /data/Config/Httpd/.htpasswd
		AuthName "Authorization Required"
		AuthType Basic
		require valid-user
    </Directory>
</VirtualHost>
